<!-- user-workload.component.html -->
<div class="flex gap-2 p-2 bg-gray-200 h-screen">
  <!-- Section Utilisateurs -->
  <div class="w-1/3 bg-gray-400 p-2 flex flex-col gap-2">
    <div class="h-1/5 bg-gray-600"></div>
    <ul>
      <li *ngFor="let user of users; trackBy: trackByUser">
        <div class="cursor-pointer px-4 py-2 bg-white border rounded"
          [class.bg-blue-500]="selectedProfessor === user.id" (click)="toggleProfessor(user.id)">
          <button>{{ user.username }}</button>
        </div>
      </li>
      <button id="toggleAddUserButton" class="cursor-pointer px-4 py-2 bg-gray-300 border rounded">Add User</button>
      <div id="addUserDiv" class="hidden">
        <app-form-create-user></app-form-create-user>
      </div>
    </ul>
  </div>

  <!-- Section des Ressources et Semestres -->
  <div class="flex w-full gap-5">
    <div class="w-4/5">
      <!-- Liste des Semestres -->
      <ul class="flex gap-2 p-2 bg-gray-300">
        <li *ngFor="let sem of semestre; trackBy: trackBySemester">
          <div class="cursor-pointer px-4 py-2 bg-white border rounded"
            [class.bg-blue-500]="selectedSemester === sem.id" (click)="selectSemester(sem.id)">
            Semestre {{ sem.id }}
          </div>
        </li>
        <button id="toggleCreateSemesterButton" class="cursor-pointer px-4 py-2 bg-gray-300 border rounded">Create
          Semester</button>

      </ul>

      <!-- Affichage des Ressources -->
      <div *ngFor="let resource of getFilteredResources(); trackBy: trackByResource">
        <div class="flex flex-col w-full gap-2">
          <div class="bg-gray-400 p-2">
            <div class="bg-white text-black p-2">{{ resource.name }}</div>

            <div class="bg-gray-300 p-2">
              <table class="table-auto w-full text-left">
                <thead>
                  <tr>
                    <th class="border px-4 py-2">Utilisateur</th>
                    <th class="border px-4 py-2">CM</th>
                    <th class="border px-4 py-2">TD</th>
                    <th class="border px-4 py-2">TP</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    *ngFor="let workload of getFilteredUserWorkloads(resource.id); trackBy: trackByWorkload">
                    <tr>
                      <td class="border px-4 py-2">{{ getUsername(workload.user_id) }}</td>

                      <!-- vol_cm input -->
                      <td class="border px-4 py-2">
                        <input type="number" [ngModel]="workload.vol_cm"
                          (blur)="updateWorkload(workload.id, 'vol_cm', getInputValue($event))"
                          class="border rounded p-1" />
                      </td>

                      <!-- vol_td input -->
                      <td class="border px-4 py-2">
                        <input type="number" [ngModel]="workload.vol_td"
                          (blur)="updateWorkload(workload.id, 'vol_td', getInputValue($event))"
                          class="border rounded p-1" />
                      </td>

                      <!-- vol_tp input -->
                      <td class="border px-4 py-2">
                        <input type="number" [ngModel]="workload.vol_tp"
                          (blur)="updateWorkload(workload.id, 'vol_tp', getInputValue($event))"
                          class="border rounded p-1" />
                      </td>

                      <button class="bg-red-500 text-white p-2 rounded-lg"
                        (click)="removeFromWorkload(workload.id)">X</button>

                    </tr>
                  </ng-container>
                </tbody>

                <tbody>
                  <tr>
                    <td class="border px-4 py-2">
                      <!-- Selection du professeur -->
                      <select [(ngModel)]="newWorkload.user_id" class="border rounded p-1">
                        <option *ngFor="let user of users" [value]="user.id">{{ user.username }}</option>
                      </select>
                    </td>

                    <!-- vol_cm input -->
                    <td class="border px-4 py-2">
                      <input type="number" [(ngModel)]="newWorkload.vol_cm" class="border rounded p-1"
                        placeholder="CM Volume" />
                    </td>

                    <!-- vol_td input -->
                    <td class="border px-4 py-2">
                      <input type="number" [(ngModel)]="newWorkload.vol_td" class="border rounded p-1"
                        placeholder="TD Volume" />
                    </td>

                    <!-- vol_tp input -->
                    <td class="border px-4 py-2">
                      <input type="number" [(ngModel)]="newWorkload.vol_tp" class="border rounded p-1"
                        placeholder="TP Volume" />
                    </td>

                    <td>
                      <button class="bg-green-500 text-white p-2 rounded-lg"
                        (click)="submitNewWorkload(resource.id, selectedSemester)">+</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            @if (isResourceExpanded(resource.id)) {
              <div class="h-1/5 bg-gray-200 p-4">
                <h3 class="font-bold">Volumes nationaux</h3>
                <ul>
                  <li>
                    Volume National: {{ resource.vol_nat }}
                    <div>Différence entre le volume National et le volume reparti 
                      <!-- Utiliser la première occurrence seulement -->
                      @if (getFilteredUserWorkloads(resource.id).length > 0) {
                        <div>{{ getTotalDifference(resource.id) }}</div>
                      }
                    </div>
                  </li>
                  <li>
                    Volume National TP: {{ resource.vol_nat_tp }}
                    <div>Différence entre le volume National TP et le volume reparti TP</div>
                    @if (getFilteredUserWorkloads(resource.id).length > 0) {
                      <div>{{ getTotalDifferenceTP(resource.id) }}</div>
                    }
                  </li>
                </ul>
              </div>
            }
    
          </div>
        </div>

      </div>
      <button id="toggleCreateResourceButton" class="cursor-pointer px-4 py-2 bg-gray-300 border rounded">Create
        Resource</button>
      <div id="CreateResourceDiv" class="hidden">
        <app-form-create-resource></app-form-create-resource>
      </div>


    </div>
    <div id="CreateSemesterDiv" class="hidden">
      <app-form-create-semester></app-form-create-semester>
    </div>
  </div>

</div>