<body class="bg-fond_page w-full">
  <div class="flex gap-2 p-2 bg-fond_page h-screen w-full">
    <!-- Section Utilisateurs -->
    <div class="w-1/3 bg-fond_section1 p-2 flex flex-col gap-2 rounded-lg">
      <div class="h-1/9 bg-fond_section1 rounded-lg py-2">

        <a href="/" class="bg-white border rounded p-2 hover:bg-gray-300 transition-colors duration-200">Home</a>
        <a href="/user"
          class="bg-white border rounded ml-2 p-2 hover:bg-gray-300 transition-colors duration-200">Main</a>
        <a href="/resource"
          class="bg-white border rounded ml-2 p-2 hover:bg-gray-300 transition-colors duration-200">Resources</a>

      </div>
      <ul>
        <button id="toggleAddUserButton"
          class=" mb-2 cursor-pointer px-4 py-2 bg-bouton text-white border rounded border-none hover:bg-blue-400 transition-colors duration-200">Créer
          Utilisateur</button>
        <div id="addUserDiv" class="hidden">
          <app-form-create-user></app-form-create-user>
        </div>
        <!-- Barre de recherche -->
        <div class="mb-4 w-full">
          <input type="text" [(ngModel)]="userSearchTerm" (input)="filterUserList()"
            placeholder="Rechercher un professeur..."
            class="w-full px-4 py-2 border rounded focus:outline-none focus:border-blue-500">
        </div>


        <li *ngFor="let user of filteredUserList; trackBy: trackByUser">
          <div class="user-container cursor-pointer px-4 py-2 mb-2 bg-white border rounded"
            [class.bg-blue-500]="selectedProfessor === user.id" (click)="toggleProfessor(user.id)">
            <span>{{ user.username }}</span>
            <button class=" bg-red-500 text-white p-2 pr-3 pl-3 rounded-lg remove-btn" (click)="removeFromUser(user.id)"
              (click)="$event.stopPropagation()">X</button>
          </div>
        </li>

      </ul>
    </div>

    <!-- Section des Ressources et Semestres -->
    <div class="flex w-full gap-5">
      <div class="w-4/5">
        <!-- Liste des Semestres -->
        <ul class="flex gap-2 p-2 bg-fond_section1 rounded-lg">
          <li class="" *ngFor="let sem of semestre; trackBy: trackBySemester">
            <div
              class="cursor-pointer px-4 py-2 bg-fond_section2 border rounded-lg border-none hover:bg-gray-500 transition-colors duration-200"
              [class.bg-blue-500]="selectedSemester === sem.id" (click)="selectSemester(sem.id)">
              <h1 class="text-blanc">Semestre {{ sem.id }}</h1>
            </div>
          </li>
          <button id="toggleCreateSemesterButton"
            class="cursor-pointer px-4 py-2 bg-bouton text-white border rounded border-none hover:bg-blue-400 transition-colors duration-200">Créer
            Semester</button>
        </ul>

        <!-- Affichage des Ressources -->
        <div class="bg-fond_section1 rounded-lg mb-2 mt-2">
          <button id="toggleCreateResourceButton"
            class=" ml-2 mb-2 mt-2 cursor-pointer px-4 py-2 bg-bouton text-white border rounded border-none hover:bg-blue-400 transition-colors duration-200">Créer
            Ressource</button>
          <div id="CreateResourceDiv" class="hidden">
            <app-form-create-resource></app-form-create-resource>
          </div>
          <div class="w-full" *ngFor="let resource of getFilteredResources(); trackBy: trackByResource">
            <div class="flex flex-col w-full gap-2">
              <div class="bg-fond_section1 p-2 rounded-lg mb-2">
                <div class="bg-white text-black p-2 rounded-lg mb-2">{{ resource.name }} - {{
                  getUserNameById(resource.ref_teacher_id) }}
                </div>

                <div class="bg-fond_section2 p-2 rounded-lg">
                  <table class="table-auto w-full text-left">
                    <thead>
                      <tr>
                        <th class="border px-4 py-2 text-white">Utilisateurs</th>
                        <th class="border px-4 py-2 text-white">CM</th>
                        <th class="border px-4 py-2 text-white">TD</th>
                        <th class="border px-4 py-2 text-white">TP</th>
                      </tr>
                    </thead>
                    <tbody class="rounded-lg">
                      <ng-container
                        *ngFor="let workload of getFilteredUserWorkloads(resource.id); trackBy: trackByWorkload">
                        <tr>
                          <td class="border px-4 py-2 text-white">{{ getUsername(workload.user_id) }}</td>

                          <!-- vol_cm input -->
                          <td class="border px-4 py-2">
                            <input type="number" [ngModel]="workload.vol_cm"
                              (blur)="updateWorkload(workload.id, 'vol_cm', getInputValue($event))"
                              class="border rounded p-1" />
                          </td>

                          <!-- vol_td input -->
                          <td class="border px-4 py-2">
                            <input type="number" [ngModel]="workload.vol_td"
                              (blur)="updateWorkload(workload.id, 'vol_td', getInputValue($event))"
                              class="border rounded p-1" />
                          </td>

                          <!-- vol_tp input -->
                          <td class="border px-4 py-2">
                            <input type="number" [ngModel]="workload.vol_tp"
                              (blur)="updateWorkload(workload.id, 'vol_tp', getInputValue($event))"
                              class="border rounded p-1" />
                          </td>

                          <td>
                            <button
                              class=" ml-2 bg-red-500 text-white p-2 pr-3 pl-3 rounded-lg  hover:bg-red-400 transition-colors duration-200"
                              (click)="removeFromWorkload(workload.id)">X</button>
                          </td>

                        </tr>
                      </ng-container>
                    </tbody>

                    <tbody>
                      <tr>
                        <td class="border px-4 py-2 relative">
                          <input type="text" [(ngModel)]="searchTerm" (input)="filterUsers()"
                            (focus)="showDropdown = true" class="border rounded p-1 w-full"
                            placeholder="Rechercher un professeur..." />

                          <div *ngIf="showDropdown && filteredUsers.length > 0"
                            class="absolute z-10 w-full mt-1 bg-white border rounded-md shadow-lg max-h-48 overflow-y-auto">
                            <ul class="py-1">
                              <li *ngFor="let user of filteredUsers" (click)="selectUser(user)"
                                class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                                {{ user.username }}
                              </li>
                            </ul>
                          </div>
                        </td>

                        <!-- vol_cm input -->
                        <td class="border px-4 py-2">
                          <input type="number" [(ngModel)]="newWorkload.vol_cm" class="border rounded p-1"
                            placeholder="CM Volume" />
                        </td>

                        <!-- vol_td input -->
                        <td class="border px-4 py-2">
                          <input type="number" [(ngModel)]="newWorkload.vol_td" class="border rounded p-1"
                            placeholder="TD Volume" />
                        </td>

                        <!-- vol_tp input -->
                        <td class="border px-4 py-2">
                          <input type="number" [(ngModel)]="newWorkload.vol_tp" class="border rounded p-1"
                            placeholder="TP Volume" />
                        </td>

                        <td>
                          <button
                            class="ml-2 bg-green-500 text-white p-2 pr-3 pl-3 rounded-lg hover:bg-green-300 transition-colors duration-200"
                            (click)="submitNewWorkload(resource.id, selectedSemester)">+</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <button (click)="toggleResource(resource.id)"
                    class="bg-blue-500 text-white px-4 py-2 rounded mt-2 hover:bg-blue-400 transition-colors duration-200">
                    {{ isResourceExpanded(resource.id) ? 'Voir moins' : 'Voir plus' }}
                  </button>
                </div>
                @if (isResourceExpanded(resource.id)) {
                <div class="h-1/5 bg-fond_section2 p-4 mt-2 rounded-lg">
                  <h3 class="font-bold text-white">Volumes nationaux</h3>
                  <ul class="space-y-4">
                    <li>
                      <div class="flex items-center gap-2">
                        <span class="w-32 text-white">Volume National:</span>
                        <input type="number" [ngModel]="resource.vol_nat"
                          (blur)="updateResourceVolume(resource.id, 'vol_nat', getInputValue($event))"
                          class="border rounded p-1 w-24" />
                      </div>
                      <div class="mt-1 text-sm text-white">
                        Différence entre le volume National et le volume reparti
                        @if (getFilteredUserWorkloads(resource.id).length > 0) {
                        <div>{{ getTotalDifference(resource.id) }}</div>
                        }
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center gap-2">
                        <span class="w-32 text-white">Volume National TP:</span>
                        <input type="number" [ngModel]="resource.vol_nat_tp"
                          (blur)="updateResourceVolume(resource.id, 'vol_nat_tp', getInputValue($event))"
                          class="border rounded p-1 w-24" />
                      </div>
                      <div class="mt-1 text-sm text-white">
                        Différence entre le volume National TP et le volume reparti TP
                        @if (getFilteredUserWorkloads(resource.id).length > 0) {
                        <div>{{ getTotalDifferenceTP(resource.id) }}</div>
                        }
                      </div>
                    </li>
                  </ul>
                </div>
                }
              </div>
            </div>
          </div>
          <div *ngFor="let user of filteredUserList; trackBy: trackByUser">

            <!-- Nouveau bouton détail -->
            <button *ngIf="selectedProfessor === user.id" (click)="showUserDetails(user)"
              class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-300 transition-colors duration-200">
              Détail
            </button>
          </div>
        </div>
        <div id="CreateSemesterDiv" class="hidden">
          <app-form-create-semester></app-form-create-semester>
        </div>
      </div>
    </div>
  </div>


</body>